.red-btn {
  background-color: #be2664 !important;
  border-color: #be2664 !important;
  color: #fff !important;
  font-size: 25px !important;
  font-family: 'SegoeUI-Semibold' !important;
  border-radius: 30px !important;
  padding: 13px 55px 13px 40px !important;
} 
.red-btn:hover{
  background-color: #fff !important;
  color:#be2664 !important;
}
.archive{
  background-color:#24375b;
}
.archive h1{
  font-weight:700;
  font-size:2eem;
  color:white;
  padding:40px;
}
.archive-heading{
  font-family: 'Roboto', sans-serif !important;
}

















